<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: 'Greglist'}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>

        <section>
            <div>
                <h1>Welcome to Greglist</h1>
                <p>Experience luxury shopping like never before on the platform exclusively for people who pulled themselves up by their bootstraps.</p>
            </div>
        </section>

        <section>
            <h3>Featured</h3>
            <div class="row">
                <% for (let product of products) { %>
                    <img src="<%= product.photo %>" alt="product">
                    <h4><%= product.name %></h4>
                    <p><%= product.description %></p>
                    <p>$<%= product.askingPrice %></p>
                    <a href="/products/<%= product.id %>">Details</a>
                <% } %>
            </div>
        </section>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>