<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: `${product.name} | Gregslist`}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>

        <div class="row">
                <img src="<%= product.photo %>">
                <h4><%= product.name %> - <%= product.condition %></h4>
                <p>$<%= product.askingPrice %></p>
                <p><%= product.city %> <%= product.state %></p>
                <p><%= product.country %></p>
                <p>Available: <%= product.quantity %></p>
                <p><%= product.description %></p>
        </div>

        <div>
            <button class="btn"><a href="/products/<%= product._id %>/edit">Edit</a></button>
            <form method="POST" action="/products/<%= product._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
        </div>
        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>