<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: 'For Sale | Greglist'}) %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>

        <div class="row">
            <h2>For Sale</h2>
            <% for (let product of products) { %>
                <img src="<%= product.photo %>">
                <h4><%= product.name %></h4>
                <p><%= product.description %></p>
                <p>$<%= product.askingPrice %></p>
                <a href="/products/<%= product.id %>">Details</a>
            <% } %>
        </div>
        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>